<!-- wp:pattern {"slug":"otv-agency/header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main","layout":{"type":"default"}} -->
<main id="main" class="wp-block-group">
	<!-- wp:pattern {"slug":"otv-agency/hero"} /-->
	<!-- wp:pattern {"slug":"otv-agency/services"} /-->
	<!-- wp:pattern {"slug":"otv-agency/pricing"} /-->
	<!-- wp:pattern {"slug":"otv-agency/portfolio"} /-->
	<!-- wp:pattern {"slug":"otv-agency/testimonial"} /-->
	<!-- wp:pattern {"slug":"otv-agency/about"} /-->
	<!-- wp:pattern {"slug":"otv-agency/contact"} /-->
</main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"otv-agency/footer"} /-->
